<div id="addPicModal">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()">&times;</button>
        <h4 class="modal-title">Add a Cute Animal Picture</h4>
    </div>
    <div class="modal-body">
        <div class="pic-preview"></div>
    </div>

    <form novalidate name="form" class="text-center" method="post">
        <div>
            <input type="text" class="form-control text-center" placeholder="URL" ng-model="pic.url">
        </div>
        <button type="button" class="btn btn-default submit-btn" ng-click="$close(pic.url)">Submit</button>
    </form>
</div>